# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# Secrets / IDE
.env
.vscode/
.idea/

# Large model files
models/*.pt
models/*.pth
models/*.ckpt

# Ignore NPY nói chung
*.npy

# Nhưng cho phép speaker embeddings dùng chung
!data/users/**/speaker_embedding.npy

# Ignore database nói chung
*.db
*.sqlite
*.sqlite3

# Nhưng cho phép database chính
!data/app.db

# Runtime files
logs/
tmp/
.ipynb_checkpoints/

# Final submission package
submission/